*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
