@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

/* ========== CSS Variables =========== */
:root {
  --ff-workSans: "Work Sans", sans-serif;
  --ff-lato: "Lato", sans-serif;
  --primary-color: #18a7ea;
  --black-color: #000;
  --black-light-color: #555;
  --white-color: #fff;
  --padding-section: 2rem 0;
}

html,
body {
  font-family: var(--ff-workSans);
}

/*---------------------------- STYLES REUSED ------------------------------------ */

.container {
  width: 80%;
  margin: 0 auto;
}
.btn {
  width: 100px;
  height: 25px;
  line-height: 25px;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.btn-tendencias {
  background-color: #e42788;
}
.btn-trucos {
  background-color: #18a7ea;
}
.btn-tutoriales {
  background-color: #f2430e;
}
.btn-accesorios {
  background-color: #23bd23;
}
.btn-noticias {
  background-color: rgb(184, 13, 184);
}
.btn-resenas {
  background-color: rgb(234, 36, 36);
}

/*---------------------------------- HEADER ------------------------------------ */

.header {
  padding: 2rem 0 1rem 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header__logo {
  font-size: 3rem;
  margin: 0;
}

.header__logo span {
  color: var(--primary-color);
}

.header__cta {
  display: flex;
  gap: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.header__cta input[type="text"] {
  border: 1px solid var(--primary-color);
  border-radius: 0.4rem;
  padding-left: 0.8rem;
}

.header__btn {
  width: 10rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
}

.header__btn--login {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.header__btn--register {
  border: 1px solid var(--primary-color);
}

.header__btn--register:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: 5ms ease-in;
}

.header__btn--login:hover {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--black-color);
  transition: 5ms ease-in;
}

/*---------------------------------- NAVBAR ------------------------------------ */
/* .nav {
  background-color: var(--primary-color);
} */

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid var(--primary-color);
}

.nav__link a {
  color: var(--black-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.nav__link a:hover {
  color: var(--primary-color);
}

.hero {
  width: 80%;
  height: 450px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "n1 n1 n2 n2  "
    "n1 n1 n2 n2 "
    "n1 n1 n3 n4"
    "n1 n1 n3 n4";
  gap: 0.5rem;
  margin-top: 1.6rem;
}

.hero__box {
  position: relative;
}
.box1 {
  grid-area: n1;
}
.box2 {
  grid-area: n2;
}
.box3 {
  grid-area: n3;
}
.box4 {
  grid-area: n4;
}

.hero__picture img {
  width: 100%;
  opacity: 1;
}
.box1 .hero__picture img {
  height: 450px;
}
.box2 .hero__picture img {
  height: 223px;
}
.box3 .hero__picture img {
  height: 222px;
}
.box4 .hero__picture img {
  height: 222px;
}

.hero__card {
  width: 90%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.hero__card h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.hero__dates span {
  font-size: 1.2rem;
}

/* ========== NOTICES =========== */

.notices {
  padding: 2rem 0;
}

.notices__wrapper {
  height: 800px;
  margin-bottom: 8rem;
}

.notices__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-color);
}
.notices__flex {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "cln1 cln2";
  gap: 2rem;
}

.notices__section {
  width: 100%;
  grid-area: cln1;
}

.notices__card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 3rem 0;
  font-family: var(--font-secondary);
}

.notices__picture {
  max-width: 200px;
}

.notices__picture img {
  width: 100%;
  height: 160px;
  border-radius: 8px;
}
.notices__info {
  width: 600px;
  height: 160px;
}

.notices__info h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black-color);
}

.notices__dates {
  padding: 1.5rem 0;
}
.notices__dates span {
  font-size: 1.2rem;
}

.notices__info p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: #070707;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mostPopular {
  width: 100%;
  height: 200px;
  padding: 20px;
  grid-area: cln2;
}
.mostPopular__wrapper {
  height: 150px;
}
.mostPopular__title {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #000;
  color: var(--white-color);
  display: inline-block;
  padding: 6px 16px;
  letter-spacing: 1px;
}

.mostPopular__flex {
  border-top: 2px solid var(--black-color);
  flex-basis: 1;
}

.mostPopular__card {
  display: flex;
  margin: 2rem 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.mostPopular__picture {
  flex-basis: 35%;
}

.mostPopular__picture img {
  width: 100%;
  height: 80px;
  border-radius: 5%;
}

.mostPopular__info {
  flex-basis: 75%;
  padding: 1.6rem;
  height: 80px;
}

.mostPopular__info h2 {
  margin: 0 0 1rem 0;
}

.mostPopular__cta {
  display: flex;
  justify-content: center;
}

.mostPopular__btn {
  border: 1px solid var(--black-color);
  padding: 6px 16px;
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 0.4rem;
}

.mostPopular__btn:hover {
  cursor: pointer;
  background-color: #000;
  color: var(--white-color);
}

/* ========== ARTICLES =========== */

.articles {
  padding: 2rem 0;
  margin: 80px 0 0 0;
}

.articles__wrapper {
  height: 500px;
  background-color: #e42788;
}

.articles__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4rem 0;
  color: var(--white-color);
  text-align: center;
}

.articles__flex {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.articles__card {
  flex: 1;
}

.articles__card-main {
  flex-basis: 50%;
}
.articles__card-second {
  flex-basis: 25%;
}

.articles__picture {
  position: relative;
}

.articles__picture img {
  width: 100%;
  height: 300px;
  opacity: 1;
}

.articles__info {
  position: absolute;
  top: 170px;
  left: 10px;
  height: 120px;
  width: 100%;
  padding: 1rem;
  color: #fff;
}

.articles__description {
  line-height: 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 5px 0;
}

.articles__description-xl {
  font-size: 2.5rem;
}

.articles__dates {
  font-size: 1.1rem;
}

/* ========== BLOGSPOTS =========== */

.blogPost {
  padding: 2rem 0;
}

.blogPost__wrapper {
  min-height: 450px;
  margin-bottom: 80px;
}

.blogPost__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3rem 0;
}

.blogPost__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 3rem;
}

.blogPost__card {
  height: 230px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.blogPost__picture {
  position: relative;
}

.blogPost__picture img {
  width: 100%;
  height: 140px;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blogPost__btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.blogPost__info {
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.blogPost__info h3 {
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
}

.blogPost__dates {
  text-align: center;
}

.blogPost__dates span {
  font-size: 1.2rem;
}

/* ========== FOOTER =========== */

.footer {
  background-color: #171624;
}

.container__footer {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "column1 column2 column3 "
    "icons icons icons ";
  gap: 10px;
  padding: 20px 50px 0px;
  background-color: #171624;
  color: #fff;
  text-align: center;
}

.icons {
  display: flex;
  grid-area: icons;
  justify-content: space-around;
  border-top: 1px solid #a4a7a7;
  align-items: center;
  padding: 10px 0px;
}

.column1 {
  min-height: 200px;
  padding: 50px 20px;
  text-align: justify;
  grid-area: column1;
}
.column2 {
  min-height: 200px;
  padding: 50px 20px;
  text-align: center;
  grid-area: column2;
}
.column3 {
  min-height: 200px;
  padding: 15px 20px;
  text-align: center;
  grid-area: column3;
}

.column1 h2,
.column2 h2,
.column3 h2 {
  text-transform: capitalize;
  padding-bottom: 20px;
  font-size: 3rem;
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
}

.column1 p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.3em;
  text-decoration: none;
}

.animated-list li {
  font-size: 2rem;
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
}

.animated-list li:hover {
  transform: translateX(8px);
  color: aqua;
}

.column3 .one {
  color: #353434;
  background-color: #ccc;
  font-size: 14px;
  padding: 0px 24px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 36px;
  text-transform: none;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.column3 .one:focus {
  outline: none;
  border: 1.5px solid #808080;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.column3 .one:hover {
  outline: none;
  background-color: #f3f3f3;
  box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}

.column3 .two {
  color: #fff;
  font-size: 14px;
  width: 9rem;
  font-weight: bold;
  padding: 0px 24px;
  letter-spacing: 0.25px;
  line-height: 36px;
  text-transform: none;
  text-align: center;
  background-color: #18a7ea;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.column3 .two:hover {
  cursor: pointer;
  background-color: #1787bb;
  box-shadow: 0px 0px 20px -18px;
}

.column3 .send-button {
  display: flex;
  padding-top: 2rem;
  column-gap: 1rem;
  width: 100%;
}

.social__icon {
  background-color: #171624;
  color: #fff;
  text-align: center;
  grid-column: span 3;
  gap: 15px;
  display: flex;
}

.social__icon a {
  text-decoration: none;
  font-size: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.social__icon a:hover {
  transform: scale(1.2);
}

.text-2 ul {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.text-2 li {
  text-transform: capitalize;
  font-size: 1.4rem;
  transition: transform 0.3s, color 0.3s;
}

.text-2 li:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.copyright {
  font-size: 1.6rem;
}

/* ========== RESPONSIVE =========== */

@media (max-width: 390px) {
  .notices__info {
    & h2 {
      font-size: 21px;
      line-height: 1.1em;
      color: #333;
    }

    & p {
      font-size: 12px;
      line-height: 1.4em;
    }

    & .notices__dates {
      padding: 0.5em 0;
    }
  }

  .notices__card {
    gap: 1rem;
    margin: 1rem 0;
    & .notices__picture img {
      min-width: 90px;
      height: 90px;
    }

    & figure {
      max-width: auto;
      width: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .notices__dates {
    padding: 0.8em 0;
  }
  .notices__card {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .notices__flex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "cln1";
  }

  .notices__title {
    font-size: 24px;
  }

  .notices__card {
    border-bottom: 1px solid #ddd;
  }

  .notices__info {
    &.notices__dates {
      padding: 1px 0;
    }
    & h2 {
      font-size: 21px;
      line-height: 1.1em;
      color: #333;
    }

    & p {
      font-size: 12px;
      line-height: 1.4em;
      color: #0f0f0fbf;
      padding: 0;
    }
  }

  .notices__picture img {
    height: 140px;
  }

  .notices__dates span {
    font-size: 1rem;
  }

  .mostPopular {
    display: none;
  }

  .container__footer {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "column1 column1 column1"
      "column2 column2 column2 "
      "column3 column3 column3"
      "icons icons icons ";

    & .icons {
      display: inline-block;
      padding: 2px;
      justify-content: center;
      & .social__icon {
        justify-content: center;
        padding-top: 5px;
      }
    }
  }

  .column1,
  .column2,
  .column3 {
    padding: 0;
    min-height: auto;
  }

  .container__footer {
    padding: 20px 15px;
  }

  .column1 h2,
  .column2 h2,
  .column3 h2 {
    font-size: 2rem;
    text-align: center;
  }

  .column1 p {
    text-align: center;
    padding: 0px 20px;
  }

  .animated-list li {
    font-size: 1.8rem;
  }

  .column3 {
    min-height: auto;
    margin-bottom: 8px;
  }

  .icons {
    display: grid !important;
    grid-template-areas:
      "fila1 "
      "fila2 "
      "fila3 ";
    row-gap: 10px;
  }

  .social__icon {
    grid-area: fila1;
  }
  .copyright {
    grid-area: fila3;
  }

  .text-2 ul {
    grid-area: fila2;
  }
}

@media screen and (max-width: 992px) {
  .mostPopular__card {
    margin: 1rem 0;
    gap: 1em;
    padding: 0;
    & .mostPopular__info {
      padding: 0;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
    }
  }

  .mostPopular__picture img {
    height: 70px;
    min-width: 70px;
  }
}
